fastapi
uvicorn
python-dotenv
anthropic
groq
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
httpx
firebase-admin
apscheduler
reportlab
groq
python-multipart
pg8000==1.31.2

psycopg2-binary==2.9.9
asyncpg
anthropic
arq
